# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
/.npm

# testing
/coverage

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*

# vercel
.vercel
.vscode
e2e/cypress/fixtures/importData.csv

# tsconfig
tsconfig.tsbuildinfo
/test-results/

# playwright
/playwright-report/
/blob-report/
/playwright/.cache/
playwright.xml

# storybook
*storybook.log
storybook-static

# vitest
vitest.xml
.env.backup