{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 150,
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "insertPragma": false,
  "requirePragma": false
}