services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        THEME: ${THEME}
    environment:
      - THEME=${THEME}
      - NODE_ENV=development
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
