services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        THEME: ${THEME}
    env_file:
      - .env
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
