// The tailwind imports are imported as part of the base styles loaded into the _app.tsx file at the root of the application
@font-face {
  font-family: "Neue Haas Grotesk Display";
  src:
    url("/fonts/5549031/5e356b56-25c1-43ac-9524-44e597eb7172.woff2") format("woff2"),
    url("/fonts/5549031/bb63728c-a742-41fb-929f-64692e41d2e7.woff") format("woff");
  /* font-display: swap; */
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src:
    url("/fonts/5548986/4746c4e5-3355-4f8f-8395-3f7abfcbf4b8.woff2") format("woff2"),
    url("/fonts/5548986/0058324c-ca31-42b1-bf5b-b9d9025c1a9c.woff") format("woff");
  /* font-display: swap; */
  font-weight: 500;
}

body {
  font-family: "Neue Haas Grotesk Display", Arial, Helvetica, sans-serif !important;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea,
select,
option {
  font-family: "Neue Haas Grotesk Display", Arial, Helvetica, sans-serif !important;
}

#landingPage-searchInput {
  @screen md {
    &::-webkit-input-placeholder {
      /* WebKit browsers */
      color: transparent;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: transparent;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: transparent;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: transparent;
    }
    &::placeholder {
      color: transparent;
    }
  }
}

.family-list-item {
  a {
    @apply underline;
  }
}
