@import "tailwindcss";

#cclw {
  --text-h1: 48px;
  --text-h2: 36px;
  --text-h3: 20px;
  --text-h4: 21px;
  --text-h5: 18px;
  --text-h6: 16px;

  --font-weight-medium: 540;

  /* @layer base {
    h1 {
      font-size: var(--text-2xl);
    }
    h2 {
      font-size: var(--text-xl);
    }
  } */
}

/*
  TODO: remove specific css styles and overrides by moving into their components

  Collection of specific css styles and overrides for the CCLW theme
*/
#cclw .gradient-container {
  background: linear-gradient(134.5deg, rgb(43, 47, 73) 0%, rgb(43, 47, 73) 33%, rgb(21, 116, 209) 66%, rgb(21, 116, 209) 100%);
  background-repeat: no-repeat;
}
#cclw header {
  border-color: rgba(255, 255, 255, 0.5);
}
#cclw nav a {
  @apply h-full block py-2 px-4;
}
#cclw nav a:hover,
#cclw nav a.active {
  @apply bg-blue-400;
}
#cclw footer {
  @apply bg-cclw-dark text-white;
}
#cclw footer h5 {
  @apply text-white;
}
#cclw footer a {
  @apply text-white underline;
}
#cclw footer a:hover {
  @apply text-blue-200;
}
#cclw footer .footer__section {
  @apply text-sm;
}
#cclw footer .footer__section > * {
  @apply mb-4;
}
#cclw footer .footer__section h5 {
  @apply mb-4;
}
#cclw footer .footer__social-links a {
  display: block;
  width: 20px;
  height: 20px;
}
#cclw footer .footer__base {
  background-image: url("/images/cclw/angles_2.svg");
  background-position: top;
  background-repeat: repeat-x;
  @apply text-cclw-dark w-full h-[232px] flex items-end overflow-hidden lg:h-[184px];
}
#cclw footer .footer__base a {
  @apply text-cclw-dark;
}
#cclw .search-dropdown {
  margin-left: 24px;
  width: calc(100% - 48px);
  border-top: none;
  @apply hidden sm:block;
}
#cclw .search-dropdown.search-dropdown_large {
  top: 48px;
}
