@import url("https://p.typekit.net/p.css?s=1&k=ifw7ubm&ht=tk&f=49469.49476&a=116160251&app=typekit&e=css");
@import "tailwindcss";
@import "./theme.css";
@import "./styles.css";
@import "./cpr.css";
@import "./cclw.css";
@import "./mcf.css";
@import "./ccc.css";

@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar" {
  nocompatible: true;
}

@custom-variant hocus (&:hover, &:focus-visible);

:root {
  --MAX_SITE_WIDTH: 1440px;
  --MAX_CONTENT_WIDTH: 800px;
  --MAX_SIDEBAR_WIDTH: 300px;

  font-family: "InterVariable", sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    "cv05" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
