@font-face {
  font-family: "greycliff-cf";
  src:
    url("https://use.typekit.net/af/4a5f61/00000000000000007735fa47/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/4a5f61/00000000000000007735fa47/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/4a5f61/00000000000000007735fa47/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "greycliff-cf";
  src:
    url("https://use.typekit.net/af/39cc4b/00000000000000007735fa4e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/39cc4b/00000000000000007735fa4e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/39cc4b/00000000000000007735fa4e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.tk-greycliff-cf {
  font-family: "greycliff-cf", sans-serif;
}

body #mcf {
  font-size: 16px;
  @apply font-normal leading-[1.4];
}

#mcf #landingPage-searchInput-mcf::placeholder {
  @apply md:text-transparent;
}
#mcf #landingPage-searchInput-mcf::-webkit-input-placeholder {
  @apply md:text-transparent;
}
#mcf #landingPage-searchInput-mcf:-moz-placeholder {
  @apply md:text-transparent;
}
#mcf #landingPage-searchInput-mcf::-moz-placeholder {
  @apply md:text-transparent;
}
#mcf #landingPage-searchInput-mcf:-ms-input-placeholder {
  @apply md:text-transparent;
}
#mcf #landingPage-searchInput-mcf::placeholder {
  @apply md:text-transparent;
}

#mcf .search-dropdown {
  margin-left: 24px;
  width: calc(100% - 48px);
  border-top: none;
  @apply hidden sm:block;
}

#mcf .search-dropdown.search-dropdown_large {
  top: 50px;
}

#mcf .family-list-item .result-title {
  @apply underline;
}

#mcf footer {
  @apply border-t border-gray-300 border-solid;
}

#mcf .footer__section > * {
  @apply mb-4;
}

#mcf .footer__section h5 {
  @apply mb-4;
}

#mcf .custom-header,
#mcf h1.custom-header,
#mcf h2.custom-header {
  @apply font-greycliff;
}

#mcf h1.custom-header {
  @apply font-bold tracking-[-0.01em];
}

#mcf h2.custom-header {
  @apply leading-6 font-bold tracking-tight;
}

#mcf .custom-hero,
#mcf h1.custom-hero {
  @apply font-greycliff text-[56px] leading-none md:text-[72px] font-bold md:leading-[72px] tracking-[-0.04em] text-center;
}

#mcf .custom-search-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7280;
  transition: color 300ms ease-in-out;
}

#mcf .custom-search-button:hover {
  color: #1d222b;
}

#mcf .custom-gradient-background {
  position: relative;
  transform-style: preserve-3d;
  border-radius: 10px;
}

#mcf .custom-gradient-background::before {
  content: "";
  position: absolute;
  inset: -10px;
  background: linear-gradient(to right, #24a5b6, #27a049, #eac859, #f79d03, #39b45e);
  filter: blur(20px);
  transform: translate3d(-3px, -4px, -1px);
  border-radius: inherit;
  pointer-events: none;
}
#mcf input:placeholder-shown {
  text-overflow: ellipsis;
}
