@layer components {
  [type="checkbox"],
  [type="radio"],
  [type="text"],
  [type="search"],
  [type="number"] {
    @apply rounded border-borderNormal text-sm;

    &:hover {
      @apply border-inputSelected;
    }

    &:focus {
      @apply outline-none outline-transparent ring-offset-0 ring-0 border-inputSelected;
    }
  }

  [type="checkbox"],
  [type="radio"] {
    @apply text-inputSelected cursor-pointer;
  }

  [type="text"],
  [type="search"],
  [type="number"] {
    @apply text-text-primary p-2 bg-surface-ui border-border-light leading-[1.4] w-full;

    &.extra-content-left {
      @apply pl-8;
    }

    &.extra-content-right {
      @apply pr-8;
    }

    &.large {
      @apply text-[15px] p-4 rounded-lg;

      &.extra-content-left {
        @apply pl-11;
      }

      &.extra-content-right {
        @apply pr-11;
      }
    }

    &.small {
      @apply text-[13px] py-1;

      &.extra-content-left {
        @apply pl-6;
      }

      &.extra-content-right {
        @apply pr-6;
      }
    }
  }

  [type="radio"] {
    @apply rounded-full;
  }

  [type="checkbox"]:checked,
  [type="checkbox"]:checked:focus {
    background: none;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    @apply bg-inputSelected;
  }

  [type="radio"]:checked,
  [type="radio"]:checked:focus {
    background: none;
    @apply bg-white border-[8px] border-inputSelected;

    &:hover {
      @apply border-inputSelected bg-white;
    }
  }

  .landing [type="checkbox"],
  .landing [type="checkbox"]:checked,
  .landing [type="checkbox"]:checked:hover,
  .landing [type="checkbox"]:checked:focus,
  .landing [type="checkbox"]:indeterminate:hover {
    @apply bg-transparent;
  }

  .checkbox-light input[type="checkbox"]:checked,
  .checkbox-light input[type="checkbox"]:checked:hover,
  .checkbox-light input[type="checkbox"]:checked:focus {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    @apply border-white bg-transparent;
  }

  .checkbox-dark input[type="checkbox"]:checked,
  .checkbox-dark input[type="checkbox"]:checked:hover,
  .checkbox-dark input[type="checkbox"]:checked:focus {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    @apply border-black bg-transparent;
  }

  .semi-checked [type="checkbox"]:checked,
  .semi-checked [type="checkbox"]:checked:focus {
    background: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M3.33331 8H12.6666' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
    @apply bg-inputSelected;
  }
}

/* Necessary for Base UI overlays (tooltip, popover etc.) */
.root {
  isolation: isolate;
}

body,
html,
#__next {
  height: 100%;
}

body {
  @apply text-textNormal font-inter;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea,
select,
option {
  @apply font-inter;
}

a,
.anchor {
  @apply transition duration-300;
}

a.alt,
.anchor.alt {
  @apply underline text-textNormal hover:text-blue-800;
}

a.button {
  @apply transition cursor-pointer duration-300 px-4 py-2 rounded-full pointer-events-auto font-medium no-underline hover:no-underline bg-blue-500 border border-blue-500 text-white hover:bg-blue-700 hover:border-blue-700 hover:text-white group-hover:bg-blue-700 group-hover:border-blue-700 group-hover:text-white;
}

button {
  @apply cursor-pointer;
}

b,
strong,
.bold {
  @apply font-medium;
}

hr {
  @apply border-gray-200;
}

.form-row {
  @apply my-6;
}
.form-row__border {
  @apply border-b border-cpr-dark py-6;
}

select {
  appearance: none;
  position: relative;
  background-image: url(/images/down-arrow.svg);
  background-repeat: no-repeat;
  background-position-y: 16px;
  background-position-x: calc(100% - 12px);
  background-size: 16px 16px;
  @apply pr-6;
}
select.small {
  background-position-y: 14px;
  background-position-x: calc(100% - 12px);
  background-size: 12px 12px;
}

.input-icon {
  @apply absolute top-1/2 transform -translate-y-1/2;
}
.input-icon.icon-left {
  @apply left-2;
}
.input-icon.icon-right {
  @apply right-2;
}
.large .input-icon.icon-left {
  @apply left-4;
}
.large .input-icon.icon-right {
  @apply right-4;
}

.radar {
  transform: rotate(-70deg);
  width: 25%;
  height: 14em;
}

/* dark blue top banner */
.banner {
  background: linear-gradient(134.5deg, rgb(50, 35, 50) 0%, rgb(7, 29, 73) 0%, rgb(7, 29, 73) 45%, rgb(22, 134, 238) 100%);
  background-repeat: no-repeat;
}
.banner--full {
  position: relative;
}
.banner--full:before {
  content: "";
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 0;
  left: -25%;
  background-image: url(/images/arc-bg.png);
  overflow: hidden;

  @apply md:top-[360px] md:left-[50%];
}

/* clears the 'X' in search input from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' search input from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Tabbed navigation */
.subnav-active,
.tabbed-nav__active {
  position: relative;
}

.tabbed-nav__active {
  @apply text-blue-600 font-medium;
}

/* Tooltip button */
.circle-sm {
  width: 16px;
  height: 16px;
}

/* Tooltips styles to override the default */
.customTooltip {
  @apply z-50! text-sm! bg-nearBlack! border-nearBlack! rounded-lg! leading-5! max-w-[300px]! opacity-100! pointer-events-auto!;
}
.customTooltip:hover {
  visibility: visible !important;
  opacity: 1 !important;
}
.customTooltip.show {
  opacity: 1 !important;
}
.customTooltip.place-top {
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.2)) !important;
}
.customTooltip.place-top:after {
  border-top-color: cpr-dark !important;
  border-top-style: solid !important;
  border-top-width: 6px !important;
}
.customTooltip.place-left {
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.2)) !important;
}
.customTooltip.place-left:after {
  border-left-color: cpr-dark !important;
  border-left-style: solid !important;
  border-left-width: 6px !important;
}
.customTooltip.place-right {
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.2)) !important;
}
.customTooltip.place-right:after {
  border-right-color: cpr-dark !important;
  border-right-style: solid !important;
  border-right-width: 6px !important;
}
.customTooltip.place-bottom {
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.2)) !important;
}
.customTooltip.place-bottom:after {
  border-bottom-color: cpr-dark !important;
  border-bottom-style: solid !important;
  border-bottom-width: 6px !important;
}
.customTooltip a {
  @apply text-blue-200;
}
.customTooltip a:hover {
  @apply text-blue-50;
}

.tooltip-up-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid;
  position: absolute;
  top: -12px;
  left: 50%;
  @apply border-b-blue-800 translate-x-[-5px];
}

ul li.selected {
  @apply bg-blue-200;
}

/* Partners images on landing page */
.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unset-img {
  width: 100%;
}

.unset-img > div {
  position: unset !important;
}

.dark-gradient {
  background: linear-gradient(134.5deg, rgb(50, 35, 50) 0%, rgb(7, 29, 73) 0%, rgb(7, 29, 73) 45%, rgb(22, 134, 238) 100%);
  background-repeat: no-repeat;
}

/* text-content represents any wrapper to a chunk of text, sometimes dynamic */
.text-content b,
.text-content strong,
.text-content .bold,
.search-results b,
.search-results strong,
.search-results .bold {
  @apply font-medium text-textDark;
}
.text-content i,
.text-content em,
.search-results i,
.search-results em {
  @apply italic;
}
.text-content a.accordion-item,
.search-results a.accordion-item {
  @apply text-textNormal text-lg cursor-pointer flex items-center no-underline hover:no-underline md:text-xl;
}
.text-content a {
  @apply text-blue-600 underline hover:text-blue-800;
}
.text-content p + p {
  @apply mt-6;
}
.text-content ul,
.search-results ul {
  @apply list-disc my-2 pl-2;
}
.text-content ul li,
.search-results ul li {
  @apply my-5 ml-4 pl-2;
}
.text-content .m-table,
.search-results .m-table {
  @apply border border-gray-200 my-5;
}
.text-content .m-table .row,
.search-results .m-table .row {
  @apply flex w-full border-b border-gray-200;
}
.text-content .m-table .row:last-child,
.search-results .m-table .row:last-child {
  border: none;
}
.text-content .m-table .row.heading,
.search-results .m-table .row.heading {
  @apply text-textDark font-medium;
}
.text-content .m-table .row .term,
.search-results .m-table .row .term {
  @apply p-4 font-medium w-1/3 md:w-1/4 grow-0 shrink-0;
}
.text-content .m-table .row .def,
.search-results .m-table .row .def {
  @apply p-4 flex-grow border-l border-gray-200;
}
.text-content ol,
.search-results ol {
  @apply list-decimal list-inside;
}
.text-content ol li,
.search-results ol li {
  @apply my-5;
}
.text-content table,
.search-results table {
  @apply text-left my-5;
}
.text-content table th,
.search-results table th {
  @apply border border-gray-300 p-2;
}
.text-content table td,
.search-results table td {
  @apply border border-gray-300 p-2 align-top;
}
.text-content hr,
.search-results hr {
  @apply my-5;
}
.text-content h1,
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6,
.search-results h1,
.search-results h2,
.search-results h3,
.search-results h4,
.search-results h5,
.search-results h6 {
  @apply font-medium text-textDark;
}
.text-content h1,
.search-results h1 {
  @apply text-4xl;
}
.text-content h2,
.search-results h2 {
  @apply text-2xl mb-5;
}
.text-content h3,
.search-results h3 {
  @apply text-xl mb-5;
}
.text-content h4,
.search-results h4 {
  @apply text-lg mb-5;
}
.search-results p {
  @apply my-5;
}

/* Circle icons used in timeline */
.circle-container {
  height: 40px;
  width: 40px;
  @apply m-auto flex items-center justify-center;
}
.circle-container .circle-full,
.circle-container .circle-empty,
.circle-container .circle-icon {
  @apply rounded-full border border-blue-600;
}
.circle-container .circle-full {
  @apply bg-blue-600;
  width: 30px;
  height: 30px;
}
.circle-container .circle-empty {
  @apply bg-white;
  height: 20px;
  width: 20px;
}
.circle-container .circle-icon {
  @apply bg-white text-blue-600 flex items-center justify-center;
  width: 100%;
  height: 100%;
}

.search-dropdown.search-dropdown_large {
  padding-top: 0;
  top: 60px;
}

.accordion__content p {
  @apply mb-2;
}

.search-animated-placeholder {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  z-index: -1;
  height: 34px;
  border-right: 2px solid;
  white-space: nowrap;
  animation:
    typing 3s steps(60, end),
    blink-caret 0.75s step-end infinite;
  max-width: 75%;
  @apply hidden pr-1 pl-2 text-2xl bg-transparent bottom-[17px] md:flex;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.family-document:hover .matches-button {
  @apply bg-cpr-dark;
}

.arrow {
  border-style: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 6px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: -6px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

#mapToolTip {
  @apply text-textNormal bg-white p-4 rounded-lg drop-shadow border border-gray-300 opacity-100;
}

.middot-between > span:after {
  content: " ·";
  font-weight: normal;
}
.middot-between > span:last-child {
  align-self: end;
}
.middot-between > span:last-child:after {
  content: none;
}

.scrollbar-narrow {
  @apply scrollbar-thumb-gray-200 scrollbar-thin scrollbar-track-white scrollbar-thumb-rounded-full hover:scrollbar-thumb-gray-500;
}

.map-circles {
  @apply flex gap-4 items-baseline;
}
.map-circles .scale-item .circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 1px solid #1d2939;
  margin: 0 auto;
}
.map-circles .scale-item p {
  text-align: center;
}
.map-circles .scale-item:nth-child(1) .circle {
  background: hsl(200, 50%, 100%);
}
.map-circles .scale-item:nth-child(2) .circle {
  width: 14px;
  height: 14px;
  background: hsl(200, 50%, 75%);
}
.map-circles .scale-item:nth-child(3) .circle {
  width: 20px;
  height: 20px;
  background: hsl(200, 50%, 50%);
}
.map-circles .scale-item:nth-child(4) .circle {
  width: 26px;
  height: 26px;
  background: hsl(200, 50%, 25%);
}
.map-circles .scale-item:nth-child(5) .circle {
  width: 32px;
  height: 32px;
  background: hsl(200, 50%, 0%);
}

/* Base UI elements */
[data-floating-ui-portal] {
  position: absolute;
  z-index: 1000;
}
