// The tailwind imports are imported as part of the base styles loaded into the _app.tsx file at the root of the application

@import url("https://p.typekit.net/p.css?s=1&k=ifw7ubm&ht=tk&f=49469.49476&a=116160251&app=typekit&e=css");

@font-face {
  font-family: "greycliff-cf";
  src:
    url("https://use.typekit.net/af/4a5f61/00000000000000007735fa47/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/4a5f61/00000000000000007735fa47/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/4a5f61/00000000000000007735fa47/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "greycliff-cf";
  src:
    url("https://use.typekit.net/af/39cc4b/00000000000000007735fa4e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/39cc4b/00000000000000007735fa4e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/39cc4b/00000000000000007735fa4e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.tk-greycliff-cf {
  font-family: "greycliff-cf", sans-serif;
}

:root {
  font-family: "InterVariable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    "cv05" on,
    "cv11" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  font-size: 16px;
  @apply font-normal leading-[1.4];
}

#landingPage-searchInput {
  @screen md {
    &::-webkit-input-placeholder {
      /* WebKit browsers */
      color: transparent;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: transparent;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: transparent;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: transparent;
    }
    &::placeholder {
      color: transparent;
    }
  }
}

#mcf {
  .search-dropdown {
    margin-left: 24px;
    width: calc(100% - 48px);
    border-top: none;

    @apply hidden sm:block;

    &.search-dropdown_large {
      top: 50px;
    }
  }

  .family-list-item {
    .result-title {
      @apply underline;
    }
  }

  footer {
    @apply border-t border-gray-200 border-solid;
  }

  .footer__section {
    > * {
      @apply mb-4;
    }
    h5 {
      @apply mb-4;
    }
  }

  .custom-header,
  h1.custom-header,
  h2.custom-header {
    @apply font-greycliff text-mcf-blue;
  }

  h1.custom-header {
    @apply font-bold tracking-[-0.01em];
  }

  h2.custom-header {
    @apply leading-6 font-bold tracking-[0.04em];
  }

  .custom-hero,
  h1.custom-hero {
    @apply font-greycliff text-[56px] leading-none md:text-[72px] font-bold md:leading-[72px] tracking-[-0.04em] text-center text-mcf-blue;
  }

  .custom-search-button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;

    // transition for color change
    transition: color 300ms ease-in-out;

    &:hover {
      color: #1d222b;
    }
  }

  .custom-gradient-background {
    position: relative;
    transform-style: preserve-3d;
    border-radius: 10px;
  }

  .custom-gradient-background::before {
    content: "";
    position: absolute;
    inset: -10px;
    background: linear-gradient(to right, #24a5b6, #27a049, #eac859, #f79d03, #39b45e);

    filter: blur(20px);
    transform: translate3d(-3px, -4px, -1px);
    border-radius: inherit;
    pointer-events: none;
  }

  input:placeholder-shown {
    text-overflow: ellipsis;
  }
}
