name: Deploy to staging
on:
  # a. Auto deploy once the merge-to-main action is completed successfully
  workflow_run:
    workflows: [Merge to main]
    types:
      - completed
    branches:
      - main
  # b. Allow deployment from the actions tab - this allows feature branch deployment
  workflow_dispatch: {}
  # c. Label a PR with "deploy:staging" will deploy to staging
  pull_request:
    types: [labeled]

permissions:
  id-token: write
  contents: read

jobs:
  deploy-staging:
    name: Deploy ${{ github.sha }} to staging
    # relating to a, b, c in the `on` section
    if: |
      github.event.workflow_run.conclusion == 'success' ||
      github.event_name == 'workflow_dispatch' ||
      github.event.label.name == 'deploy:staging'
    strategy:
      matrix:
        theme: [cpr, cclw, mcf, ccc]

    runs-on: ubuntu-latest
    environment: staging
    steps:
      - uses: actions/checkout@v5
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/navigator-new-frontend-github-actions
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: eu-west-1

      - name: Login to Amazon ECR (staging)
        id: login-ecr-staging
        uses: aws-actions/amazon-ecr-login@d63b14614fe5d7fc5e5e52c523dea4e876816cc4

      - name: Build, tag, and push to ECR with 'latest' tag
        id: build-image
        env:
          ECR_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          IMAGE_TAG: latest
          AWS_REGION: eu-west-1
          ECR_REPOSITORY: navigator-frontend-${{ matrix.theme }}
          THEME: ${{ matrix.theme }}
        # @related: GITHUB_SHA_ENV_VAR
        run: |
          docker build --build-arg THEME=${THEME} --build-arg GITHUB_SHA=$(git rev-parse HEAD) -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT
